@import "variables";

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  color: $gray-dark;
}

p {
  color: $gray-light;
}

a {
  text-decoration: none;
  color: $gray-lighter;
}

.pure-g {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.pure-g > div[class*="pure-u-"] {
  padding: 0em; //Add gutters to grid columns
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  text-align: center;
}


.social-share {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  @include social_share_rounded;
  i {
    font-size: 1em;
  }
  .fa-twitter {
    margin-left: 1em;
  }
  @include bp-medium($size-medium) {
    padding-bottom: 10%;
  }
}


.nav {
  width: 90%;
  margin: auto;
  color: $gray;
  background-color: $snake;
  border-radius: 25px;
  ul {
    width: 100%;
    text-align: center;
    li, a {
      width: auto;
      padding: 10px;
      color: $gray-lighter;
    }
  }
}

.header {
  h1 {
    a {
      font-family: $header-font;
    }
  }
}

.page-header {
  width: 90%;
  margin: auto;
  text-align: left;
  font-family: $body-font;
  padding: 3% 0;
}

.header-text {
  margin-left: 12.5%;
}

.header-text p {
  color: $gray;
}

.header-image img {
  padding-top: 7%;
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}


.copyright {
  font-size: 1em;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 2%;
}

.copyright p {
  color: $gray;
  text-align: center;
}


.blog-body {
  width: 90%;
  margin: auto;
  text-align: left;
  font-family: $body-font;
  ul {
    li {

    }
  }
}




.article {
  box-shadow: 0px 2px $gray-darker;
  border-radius: 2%;
  padding-bottom: 1%;
  padding-top: 2%;
}

.article--title a, h1 {
  font-family: 'PT Serif', serif;
}

.article--date {
  color: $gray-dark;
  font-size: 1.5em;
}

.article--text {
  font-size: 1.75em;
  padding: 1%;
}

.mobile-nav {
  display: none;
}
.slicknav_menu {
  display:none;
}
.mobile_links {
  display:none;
}
