<head>
    <title>Snakes Dot Cool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Dax Dot Cat" name="Snakes Dot Cool">
    <meta name="description" content="  All the super cool information you need to know to keep and care for pet snakes such as the ball python or the brazilian rainbow boa. :snek:" />

    <!-- Facebook -->
    <meta property="og:title" content="Snakes Dot Cool" />
    <meta property="og:description" content="  All the super cool information you need to know to keep and care for pet snakes such as the ball python or the brazilian rainbow boa. :snek:" />
    <meta property="og:url" content="http://www.snakes.cool/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Snakes Dot Cool" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:site" content="@DaxAeterna">
    <meta name="twitter:site:id" content="">
    <meta name="twitter:creator" content="@daxAeterna">
    <meta name="twitter:title" content="Snakes Dot Cool">
    <meta name="twitter:description" content="  All the super cool information you need to know to keep and care for pet snakes such as the ball python or the brazilian rainbow boa. :snek:">
    <meta name="twitter:image" content="">

    <!-- ASSETS -->
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/css/main.scss">
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head