
<div class="pure-g nav">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#temperature">Temperature</a></li>
                <li class="pure-menu-item"><a href="#humidity">Humidity</a></li>
                <li class="pure-menu-item"><a href="#substrate">Substrate</a></li>
                <li class="pure-menu-item"><a href="#hides">Hides</a></li>
                <li class="pure-menu-item"><a href="#water">Water</a></li>
                <li class="pure-menu-item"><a href="#hides">Enclosure</a></li>
                <li class="pure-menu-item"><a href="#food">Food</a></li>
                <li class="pure-menu-item"><a href="#morphs">Morphs</a></li>
            </ul>
        </div>
    </div>
</div>
