$gray-base: #4c409A;
$gray-darker: #98758B;
$gray-dark: #3080B5;
$gray: #AB9FAC;
$gray-light: #45A7C8;
$gray-lighter: #B9C8CD;



@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}


%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin bp-large($size-large) {
  @media only screen and (max-width: $size-large) {
    @content;
  }
}

@mixin bp-medium($size-medium) {
  @media only screen and (max-width: $size-medium) {
    @content;
  }
}

@mixin bp-small($size-small) {
  @media only screen and (max-width: $size-small) {
    @content;
  }
}

$size-medium: 769px;
$size-small: 35.5em;
$size-large: 64em;


@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$transition_type: all .7s ease;
@mixin transition {
  transition: $transition_type;
  -webkit-transition: $transition_type;
  -moz-transition: $transition_type;
  -o-transition: $transition_type;
}

$main_background: $gray-light;
$main_text: $gray-darker;
$hover_background: $gray-darker;
$hover_text: $gray-light;

@mixin social_share_rounded {
  a {
    text-decoration: none;
  }
  i {
    background-color: $main_background;
    border-radius: 2em;
    color: $main_text;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    text-decoration: none;
  }
  .fa-twitter {
    margin-left: 1em;
  }
  i:hover {
    @include transition;
    background-color: $hover_background;
    color: $hover_text;
  }
}
